.clear {
    clear: both;
    margin-top: -4px;
}

.ovrInstructions > .hide {
	display: none;
}

myKey {
    display: inline;
    text-transform: uppercase;
    border: #a1a1a1 1px solid;
    border-radius: 3px;
    padding: 0 4px;
    background: #dbdbdb;
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    /* margin: 0 1px; */
    filter: drop-shadow(1px 1px 2px rgba(127,127,127,0.9));
}

.AccessAuditMarker {
/*
	background:pink;
	webkit-filter: url('#pinkish') drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 4px red);
*/
	/* background:lightblue;
	webkit-filter: url('#blueish') drop-shadow(0px 0px 2px blue) drop-shadow(0px 0px 4px blue); */
	box-shadow: blue 0 0 10px 0;
}

.AccessAuditHighlight {
	/* --webkit-filter: drop-shadow(0px 0px 2px red) drop-shadow(0px 0px 4px red); */
	box-shadow: red 0 0 10px 0;
}

.forceVisible {
	/* display: inherit !important; */
}

.AccessAuditHighlight:not[background-image] {
	background: white;
}

#AccessAuditOvr {
	opacity: 1;
	background: #ffffff01;
	border: 0 none transparent;
	margin:0; padding:0;
	top:0; left:0;
	height:100%; width:100%;
	position: fixed;
	z-index: 2147483647;
}

#AccessAuditInfo {
	background: white;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 2px gray;
	position:absolute;
	z-index: 2147483647;
	color:black;
}

.ovrInstructions {
	border: 1.5px solid #ffffff60;
	background-color: red;
	border-radius: 6px;
	position: absolute;
	top: 6px;
	box-shadow: black 4px 4px 12px 0;
	margin: 8px 0;
}

.ovrInstructions img {
	padding: 3px;
	padding-bottom: 0;
}

.ovrInstructions h1 {
	color: white;
	display: inline-block;
	vertical-align: bottom;
	font-size: 18px;
	font-weight: 700;
	font-family: helvetica, Verdana, Arial, 'sans-serif';
	-webkit-margin-before: 2px;
    -webkit-margin-after: 8px;
    -webkit-margin-start: 6px;
    -webkit-margin-end: 0;
    -moz-margin-start: 6px;
    -moz-margin-end: 0;
}

.ovrInstructions.left {
	left: 6px;
}

.ovrInstructions.right {
	right: 6px;
}

.ovrInstructionsText {
	background-color: white;
	padding: 4px;
	min-height: 50px;
	min-width: 200px;
	max-width: 350px;
	margin: 3px;
	border-radius: 0 0 3px 3px;
	font-family: helvetica, Verdana, Arial, "sans-serif";
    font-size: 14px;
}

.ovrInstructionsText ul {
	-webkit-padding-start: 25px;
	-moz-padding-start: 25px;
}

.ovrInstructionsText ul li {
	margin-top: 5px;
	margin-bottom: 5px;
}

#infoClose, #suggestBtn, .forceButton {
	float:right;
	opacity:0.5;
	width:18px;
	height:18px;
}
#infoClose:hover, #suggestBtn:hover {
	opacity:1;
}

#suggestBtn, .forceButton
{
	/* margin-top: 4px; */
    margin-right: 4px;
}

.infoHeader {
	background:lightblue;
	/* display:table-header-group; */
	padding: 4px;
}
.infoElement {
	padding: 4px;
	border-bottom: 1px solid lightblue;
}
.highlightInfo {
	box-shadow: orangered 0px 0px 10px 0px inset;
}

.forceButton {
	float: right;
    /* margin-top: -19px; */
    opacity:0.5;
}

.forceButton:hover {
	opacity:1;
}

.forceAltTextDiv {
	width:100%;
	display: none;
}
.forceAltTextDiv input{
	width:90%;
}

.forceAltTextExecute {
	margin-top: 0;
}

.forceColor {
	margin:1px;
	padding:1px;
}
.forceColor img {
	float: right;
	opacity:0.5;
	/* margin-top: 4px; */
    margin-right: 4px;
}

.forceColor img:hover{
	opacity:1;
}
