/* latin */
/* http://stackoverflow.com/questions/19210451/packaging-a-font-with-a-google-chrome-extension */
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Nixie One.woff2') format('woff2');
  }
/* latin */
@font-face {
  font-family: "Poiret One";
  font-weight: 400;
  src: url('/fonts/Poiret One.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SourceCodePro.woff2') format('woff2');
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-style: normal;
  font-size: inherit;
}
.header {
    background-color: #eee;
    display:block;
    top: 0;
    left: 0;
    padding: 8px;
    margin: -8px;
    margin-bottom: 8px;
}
h1 {
  font-family: "Poiret One";
  text-shadow: 2px 2px 2px gray;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
} 
h1 span {
  padding-left: 8px;
}

#colors th {
  text-align: right;
  font-weight: normal;
  padding: 4px;
}
.example {
  font: normal 95%/141% helvetica, Verdana, Arial, sans-serif;
  background-color: #037EAF; 
  margin-top:10px; 
}  
.example span{
  color: #0ff; 
  padding: 10px;
  float: inherit;
  display: inline-block;
} 
.example .btn {
  float:right;
  padding:5px;
  -webkit-filter: drop-shadow(4px 4px 8px white);
}
#colors {
  width:100%;
}
#contrast {
  width: 100%;
  text-align: right;
}
#contrast span{
  color: rgb(69, 69, 69);
  font-size: 60px;
  font:bold;
  font-family: 'Poiret One';
  --text-shadow: 2px 2px 2px cornflowerblue;
}
.contextMenu li,
#jqContextMenu li {
  white-space: nowrap;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 12px;
}
.txInput{
  font-family: 'Source Code Pro';
  font-weight: bold;
  padding: 2px;
  font-size: 12px;
}
.error{
  background-color: rgb(216, 216, 216);
}

#toolbar {
    position:absolute;
    right:8px;
    top:51px;
    border-color: rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.5);
    -webkit-filter: drop-shadow(0px 0px 4px aliceblue);
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
    border-style: solid;
}
.toolbarBtn {
    width:15px;
    height:15px;
    cursor: pointer;
    opacity: 0.25;
}
.disabled {
    opacity: 0.15;
}
#closeBtn {
    right: 4px;
    position: absolute;
    display: inline-block;
    top: 4px;
}

.pick1{
    margin-top: 10px;
}
.code{
    margin-left: -29px;
}

#resultsWrapper {
    border: 1px solid gray;
    border-radius: 5px;
    flex-direction: row;
}

.hide {
  display:none;
}

#resultsList {
    overflow-y: auto;
    max-height: 380px;
    min-width:420px;
    background-color: gray;
    --display:flex;
}
#resultsList ul {
    list-style: none;
    margin:0px;
    padding:0;
    white-space: nowrap;
}

#resultsList ul li div {
    --flex-direction: column;
}

#resultsList ul li {
    padding-bottom: 2px;
    margin-bottom: 1px;
}

#resultsList ul li a {
    text-decoration: none;
    color: black;
    padding: 0 4px;
    --display: flex;
}
#resultsList ul li a:hover {
    text-decoration: underline;
    color: red;
}

.pass {
    background:lightgreen;
}
.fail {
    background:pink;
}
.na {
    background:lightyellow;
}

.lookup {
    width:18px;
    height:18px;
    float: right;
    margin: 3px;
    opacity: 0.25;
    background-image: url("/images/searchBlue.png");
    background-repeat: no-repeat;
    --display: flex;
}

.lookup:hover {
    opacity:1;
}

.hideElements {
    background-image: url("/images/searchRed.png");
}

.btn {
  display: flex;
}
.btn span {
  white-space: nowrap;
  padding: 5px 8px 4px 4px;
}
.btn img {
  margin: 2px 2px 2px 4px;
  cursor: pointer;
  opacity: 0.5;
}
.btn:hover img {
    opacity: 1;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(127,127,127,0.9));
}

#requestBar {
    margin: 24px 0 12px 0;
}

#requestBar table {
    border-spacing: 0;
}

#exportTools {
    padding: 12px;
    border-top: 1px solid gray;
}
